@model List<Store.Models.ShoppingCartViewModel>
@{
    ViewBag.Title = "購物車";
    int Price = 0;
}
<script src="https://js.stripe.com/v3/"></script>
<h2>購物車</h2>
<hr />
<table class="table">
    <tr>
        <th scope="col">
            商品名稱
        </th>
        <th scope="col">
            商品單價
        </th>
        <th scope="col">
            數量
        </th>
        <th scope="col">
            總價
        </th>
    </tr>
    @foreach (var item in Model)
    {
        Price += item.TotalPrice;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.ActionLink("刪除", "DeleteCart", new { cartItemID = item.CartItemID }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }
</table>
<p>訂單總金額:@Price</p>
@{
    if (Model.FirstOrDefault() != null)
    {
        using (Html.BeginForm("PlaceOrder", "Shopping", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="@ViewBag.StripePublicKey"
                    data-amount="@(Price*100)"
                    data-name="Store網站_金流API測試"
                    data-description="測試卡號4242 4242 4242 4242" 
                    data-image="https://yourwebsite.com/logo.png"
                    data-currency="twd"
                    data-locale="auto"
                    data-label="訂購">
            </script>
        <input type="hidden" name="cartID" value="@Model.FirstOrDefault().CartID" />

            }
        }
}


