@model List<Store.Models.tOrder>

@{
    ViewBag.Title = "訂單紀錄";
}

<h2>訂單紀錄</h2>
@*@TempData["CreditCardPayMessage"]*@
<hr />
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        訂單編號
                    </th>
                    <th scope="col">
                        訂單總金額
                    </th>
                    <th scope="col">
                        訂購日期
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.OrderID)</td>
                        <td>@Html.DisplayFor(m => item.TotalPrice)</td>
                        <td>@Html.DisplayFor(m => item.OrderDate)</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>商品名稱</th>
                        <th>商品數量</th>
                    </tr>
                    foreach (var orderItem in item.tOrderItem)
                    {
                        <tr>
                            <td></td>
                            <td>
                                @Html.DisplayFor(m => orderItem.tProducts.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => orderItem.Quantity)
                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

