@model List<Store.Models.tProducts>

@{
    ViewBag.Title = "商品列表";
}
<body>
    <h2>商品列表</h2>
    <div>
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Product", new { pageNow = i })">@i</a>
                </li>
            }
        </ul>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col">
                    <figure class="figure">
                        <div style="width:150px;height:120px">
                            <img src="@Url.Content("~/Content/images/" + item.ImageURL + ".jpg")" class="figure-img img-fluid rounded" alt="@item.Description" style="max-width: 150px; max-height: 120px;">
                        </div>
                        <figcaption class="figure-caption">
                            @Html.DisplayFor(modelItem => item.Name)
                        </figcaption>
                        <figcaption class="figure-caption">
                            售價:@Html.DisplayFor(modelItem => item.Price)
                        </figcaption>
                        <button type="button" class="btn btn-primary" onclick="AddCart(@item.ProductID)">加入購物車</button>
                    </figure>
                </div>

            }
        </div>
    </div>



    

</body>
